/* 
    Document   : site
    Created on : 15.10.2013, 19:37:50
    Author     : vill
    Description:
        Purpose of the stylesheet follows.
*/

/* GENERAL
/************************/

body {
    color: #222;
}

.hidden {
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.btn-success {
    color: #fcf6ea;
    background-color: #706b68;
    border-color: #706b68;
}

.btn-success:hover, .btn-success:focus {
    background-color: #585451;
    border-color: #585451;
}

.btn-primary {
  color: #fcf6ea;
  background-color: #d51743;
  border-color: #d51743;
}

.btn-default {
    color: #fcf6ea;
    background-color: #a2000d;
    border-color: #8e000c;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #fcf6ea;
    background-color: #8e000c;
    border-color: #8e000c;
}

.icon-delete {
    color: #222;
}

.icon-delete:hover, .icon-delete:focus {
    color: #8e000c;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

/* NAVIGATION
/************************/

.navbar-inverse {
    background-color: #8e000c;
    border-color: #8e000c;
}

.navbar-inverse .navbar-brand {
    color: #fcf6ea;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fcf6ea;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fcf6ea;
    background-color: #222222;
}

/* HOME
/************************/
.title-big {
    position: relative;
}

.title-big h1 {
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    left: 140px;
}

.jumbotron {
    background: #fcf6ea url("/cagelovers/img/cage_collage_603x304.jpg") repeat-x top center;
    border-bottom: solid 3px #8e000c;
    text-shadow: 2px 2px 6px #585451;
}

/* REGISTER
/************************/
.form-register {
    width: 100%;
}

.form-register label {
    display: inline-block;
}

.form-regsiter input {
    display: inline-block;
}

.form-register select {
    display: block;
}

.form-register ul {
    padding-left: 10px;
    list-style: none;
}

.form-register li {
    margin-bottom: 10px;
}

.form-register .errors {
    color: #8e000c;
}

.register-done a {
    display: block;
}

/* MEDIA QUERIES
/************************/
@media (max-width: 768px) {
}

@media (min-width: 768px) {
    .jumbotron {
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        margin-top: 0;
    }
}

/* LANG SWITCHER
/************************/
.lang-switcher {
    margin-right: 5px !important;
}

/* PRODUCTS
/************************/
.products-add-basket{
    text-align: right;
}

.img-container {
    overflow:hidden;
}

/* FAQ
/************************/
.faq .question {
    font-weight: bold;
}
.faq .answer {
    margin-bottom: 20px;
}

/* CHECKOUT
/************************/
.additional-info {
    margin-top: 20px;
}

.additional-info a {
    display: block;
    float: right;
}

.additional-info a.back {
    float: left;
}

.products-container .last {
    text-align: right;
}
.prize-total {
    float: right;
}

.payment ul {
    list-style: none;
}

.payment label {
    margin: 20px 0 0 -17px;
}

.payment .infos ul {
    padding: 0;
}

.payment .infos input {
    max-width: 300px;
}

.payment .infos label {
    margin-left: 0;
    font-weight: normal;
}

.checkout td {
    padding-right: 20px;
}

.checkout .errors {
    margin: 10px 0 0;
    color: red;
}